* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
}
main {
    top: 142px;
    position: fixed;
    width: 100%;
    margin-top: 20px;
}
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    top: 475px;
    text-align: center;
}